.topbar {
  margin-bottom:1em;
  background-color:#000;

  a {
    text-decoration:none;
    color:#fff;
  }

  > ul {
    padding: 8px 14px 0px;
  }
}

  .topbar__logo {
    margin-bottom: 0;
  }

  .topbar__logo > a {
    z-index:1;
    position:relative;
  }

  .topbar__menu {
    font-size: 15px;
    line-height: 2.5;
  }

  .topbar__search {
    width:100%;
    line-height:1.5;
  }

  .topbar__jump {
    display: none;
  }

  // Specificity unfortunately needed to override nav abstraction selector
  .nav > li > a.topbar__back  {
    display:none;
  }

  @media only screen and (max-width:$desk-start) {
    //   REVISE:
    //   - Redundant selectors & naming
    //   - Name unnamed li's
    .topbar__menu,
    .topbar ul li,
    .topbar__menu li > a {
      &,
      &.topbar__back {
        display: block;
        width:100%;
      }
    }

    .topbar .grid__item {
      padding-left:5px;
    }

    .topbar__jump {
      display: block;
      position: absolute;
      top:0;
      right:0;
      background: #000 image-url("nav.png") no-repeat;
      width: 34px;
      height: 34px;
      text-indent: -9999px;
    }

    #nav:target .search-plus-menu {
      display:block;
    }

    #nav .search-plus-menu  {
      display:none;
    }

    .topbar__back  {
      background: transparent; // Change to red for debugging
      position: absolute;
      z-index: 0;
      text-indent: -999px;

      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .topbar__menu-item {
      z-index: 1001;
      position: relative;
    }
  }
